<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<title>demo</title>
</head>
<body>
<div>wode</div>
<script type="text/javascript">
	if(!!window.EventSource){
		var source = new EventSource('/demo/push');
		s='';
		source.addEventListener('open', function(e) {  
            console.log("连接打开.");  
        }, false);  
		source.addEventListener('message', function(e){
			s+=e.data+"<br/>";
			$("div").html(s);
		});
        source.addEventListener('error', function(e) {  
            if (e.readyState == EventSource.CLOSED) {  
                console.log("连接关闭");  
            } else {  
                console.log(e.readyState);  
            }  
        }, false);  
	}else{
		$("div").html("no");
	}
</script>
</body>
</html>